<div class="dashboard__content" [ngClass]="themeCssClass$ | async">
  <app-selected-nodes [data]="selectedSegment$ | async"></app-selected-nodes>
  <escher-component 
    [data]="data$ | async" 
    (onSegmentSelect)="segmentSelected$.next($event)"
    style="height: 600px; width: 80%; display: block; float: left;"></escher-component>

  <escher-statistics [data]="data$ | async" style="max-height: 600px; overflow: scroll; width: 20%; display: block; float: left;"></escher-statistics>

  <div class="clear"></div>
  
  <div class="actions">
    <app-file-upload (onSelect)="fileSelected$.next($event)"></app-file-upload>
    <app-theme-selector (onSelect)="themeSelected$.next($event)"></app-theme-selector>
  </div>
</div>