/* You can add global styles to this file, and also import other style files */
@import '~escher-vis/css/dist/builder.css';

body {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.button {
    padding: 5px 10px;
    background-color: #E94D4F;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.button:hover {
    background-color: #ad3e3f;
}

button.button {
    border: none;
    font-family: 'Open Sans', sans-serif;
}



.primary-theme.escher-container {
    background-color: transparent;
    border: 1px #000 solid;
}
.primary-theme svg.escher-svg .segment {
    stroke: #f00;
}

.primary-theme svg.escher-svg .arrowhead {
    fill: #f00;

}

.primary-theme svg.escher-svg .midmarker-circle, svg.escher-svg .multimarker-circle {
    stroke: #0f0;
}

.primary-theme svg.escher-svg .metabolite-circle {
    stroke: #a24510;
    fill: #e0865b;
}

